.content {
	 margin-top: 50px;
	height: 100%;
}

#logoutForm {
	display: inline-block;
}

body {
  background-color: #FFF;
}

.btn-primary {
    color: #fff;
	background-color: #D23731;
	border-color: #27B1ED;
}

.btn-primary:hover {
    background-color: #838180;
    border-color: #D8262E;
	color: #FFF;
} 

.navbar-default {
	background-image: linear-gradient(to bottom,#FFFFFF 0,#D7D7D7 100%)
}

.navbar-default .navbar-brand {
	color: #939393
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
	margin-left: auto;
	margin-right: auto;
}

.container {
	width: 100%;
	height: 100%;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

.well {
	margin-right: auto;
	margin-left: auto;
}

body {
	 height: 100%;
	 height: -webkit-calc(100% - 50px);
    height: -moz-calc(100% - 50px);
    height: calc(100% - 50px);
}

.validation-summary-errors > ul {
	list-style-type: none;
}