<div id="sidebar-wrapper" >
    <ul id="sidebarlist" class="sidebar-nav">
        <!-- Beginning of unordered list of links that can be on the toggable side list -->
        <li class="sidebar-brand">
       
            <!-- Instantiating the Sidebar class of lists -->
            <a href="#">
                <!-- Beginning of Logo PlaceHolder that can potentially link back to a main timeline....eg-->
                <img  style="padding-bottom:50%; padding-top:15%"  src="~/Images/PageImages/placeholderPic.jpg" />

            </a>


        </li> <!--End of Logo Placeholder-->

        <li id="account" style="color: #7c858c; font-size: x-large; padding-top: 70%;">
            <!-- Formatted to begin after user's profile pic..eg -->
            Account
        </li>
        
        <li>
            <a href="#"></a>
        </li>

        <li>
            <a href="#">Story Line</a>
        </li>

        <li>
            <a href="#">Relationships</a>
        </li>

        <li>
            <a href="#">Media</a>
        </li>

        <li>
            <a href="#">Events</a>
        </li>

        <li>
            <a href="#">Drafts</a>
        </li>

        <li>
            <!--changes the color of the Sign Out link to red..eg-->
            <a style="color:red" href="#">Sign out</a>
        </li>

    </ul><!--end of unordered list-->
  
</div>